/*** Global ***/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
img{
	border: none;
}

/*** Container ***/
.sr-ctn{
	background-color: #fafafa;
	margin: 80px 0 0 0;
}
.sr-body{
	padding: 20px;
}

/*** Map ***/
.sr-map{
	border: 1px solid #ccc;
	position: relative;
}
#sr-map{
	height: 600px;
	width: 100%;
}

/*** Geolocator ***/
.sr-geo{
	border-bottom: 5px solid #eee;
	color: #000;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.sr-geo input, .sr-geo label{
	float: left;
	margin: 3px 0 0 0;
}
.sr-geo label{
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px 0 0;
	text-align: right;
	white-space: nowrap;
	width: 6%;
}
.sr-geo input[type="textfield"]{
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #000;
	height: 20px;
	padding: 0 5px;
}
.sr-geo input[type="submit"]{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	color: #000;
	cursor: pointer;
	font-family: Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0 0 0 3%;
	padding: 0 3px;
	text-shadow: 1px 1px 0px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
	text-transform: uppercase;
	width: 9%;
}
.sr-geo label.sr-address{
	width: 8%;
}
.sr-geo input#sr-address{
	width: 30%;
}
.sr-geo input#sr-city{
	width: 14%;
}
.sr-geo input#sr-state{
	width: 8%;
}
.sr-geo input#sr-zip{
	width: 8%;
}

/*** Edit Box ***/
.sr-edit-info{
	background: rgba(245, 245, 245, 0.95);
	border-bottom: 1px solid #ccc;
	display: none;
	height: 200px;
	padding: 10px 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}
.sr-edit-info label, .sr-edit-info input[type="textfield"]{
	margin: 4px 0;
}
.sr-edit-info label{
	color: #000;
	font-size: 13px;
	float: left;
	line-height: 20px;
	padding: 0 15px 0 0;
	text-align: right;
	white-space: nowrap;
	width: 10%;
}
.sr-edit-info input[type="textfield"]{
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #000;
	float: left;
	height: 20px;
	margin: 4px 3% 4px 0;
	padding: 0 5px;
	width: 37%;
}
.sr-edit-info .sr-btns{
	clear: both;
	padding: 12px 10px 0 0;
	text-align: right;
}
.sr-edit-info button{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	cursor: pointer;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 8px;
	text-shadow: 1px 1px 0px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
}
.sr-loading{
	display: none;
	position: absolute;
	bottom: 10px;
	left: 50px;
}

/*** Message Window ***/
.sr-msg{
	background: rgba(245, 245, 245, 0.95);
	border-top: 1px solid #ccc;
	color: #D00;
	display: none;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	height: 41px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 9999;
}

/*** Login Form ***/
article#sr-login{
	background-color: #fafafa;
	border-radius: 10px;
	margin: 200px auto 0 auto;
	padding: 50px 10px 30px 10px;
	width: 400px;
}
article#sr-login section#sr-form .sr-error p{
	color: #c00;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	text-align: center;
}
article#sr-login section#sr-form p{
	font-weight: bold;
	margin: 0 0 10px 0;
	text-align: center;
}
article#sr-login section#sr-form form{
	margin: 20px 0 0 0;
	overflow: hidden;
}
article#sr-login section#sr-form div{
	margin: 10px 0;
	padding: 0 50px;
	width: 100%;
}
article#sr-login section#sr-form div label{
	display: inline-block;
	font-size: 12px;
	text-align: right;
	width: 30%;
}
article#sr-login section#sr-form div input{
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #000;
	display: inline-block;
	height: 20px;
	padding: 0 5px;
	width: 65%;
}
article#sr-login section#sr-form button{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	cursor: pointer;
	display: block;
	float: right;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 60px 0 0;
	padding: 8px 15px;
	text-shadow: 1px 1px 0px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
}